:root {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #181717;
    color: wheat;
    --mul-bg-color : #292929;
    --border-radius: 5px;
    --fg-color: wheat;
    --default-size: 20px;
    --left-menu-radius: 10px;
    --code-fn-family: Menlo, monospace;


    /* color scheme */
    --main-bg: #000000;
    --main-fg: #F1F3F4;

    --result-link-fg: #8AB4F8;
    --result-fg: #BABCBE;

    --button-bg: #141414;

    --special-result-border: #202124;
    --special-text-background: #080808;
    --special-text-color: #F1F3F4;

    --search-container-text-color: #F1F3F4;
    --search-container-background-color: #303134;
    --search-container-background-border: #3C4043;

    --search-form-background-color: #080808;

    --border: #202124;

    --footer-fg: #BABCBE;
    --footer-bg: #080808;

    color-scheme: dark;
}

html {
    scroll-behavior: smooth;
}
  

.main {
    width: 950px;
    height: auto;
    /* border: 2px red solid; */
    /* margin-left: auto;
    margin-right: auto; */
}


.flex {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
    
}

.college-list{
    background-color: var(--mul-bg-color);
    border-radius: var(--border-radius);
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fg-color{
    color: var(--fg-color);
    font-size: var(--default-size);
}



#left-menu {

    height: 100%;
    width: 300px;
    background-color: rgb(53, 53, 53);
    margin-top: 100px;

    border-radius: 10px;
    /* margin-top: 180px; */
    position: sticky;
    top: 20px;
    padding-inline: 20px;
}

.hide-on-desktop{
    display: none;
}

p {
    font-size: 18px;
    color: var(--result-fg);
}



h1{
    text-decoration: underline;
}

.margin-top-40px{
    margin-top: 40px;
}

ul {
    list-style-type: disc;
    list-style-image: none;
}

ul li {
    font-size: 18px;
}


.olpadding{
    padding: 0px 0px 0px 20px;
}

.margin-10{
    padding: 0 10px;
}

.codespace-down{
    margin-bottom: 18px;
}

.codespace-up{
    margin-top:18px;
}
.ac-color{
    background-color: #292929;
    color: wheat

}

.btn{
    border: 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.cursor{
    cursor: pointer;
}

.btn:hover{
    background-color: wheat;
    color: #292929;
    transition: ease-in-out 0.4s;
}

.pkg {
    padding: 3px;
    padding-inline: 5px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: var(--mul-bg-color);
    font-family: var(--code-fn-family);
}

h2{
    font-size: 20px;
}

.inline {
    display: inline;
}

.margin-right-15{
    margin-right: 15px;
}

.margin-right-25{
    margin-right: 25px;
}

.margin-top-25{
    margin-top: 25px;
}

.margin-bottom-5{
    margin-bottom: 5px;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

.code{
    padding: 10px 8px;
    background-color: #292929;
    font-family: Menlo, monospace;
    color: wheat;
    border-radius: 5px;

    /* for scrolling */
    overflow: auto;
    white-space: nowrap;
}

.center-text{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

a {
    /* color: #7c7c7c;  */
    color: #6e6e71;
    /* text-decoration: wavy; */
    text-decoration: none;
    font-size: 20px;

}

#left-menu a {
    font-size: 17px;
    color: white;
    
}

li{
    margin-bottom: 10px;
}

.less-margin {
    margin-top: 0px;
    margin-bottom: 10px;
}

li h3{
    color: #6e6e71
}

a:hover{
    text-decoration: underline;
    color: #414142;
   
}

/* a:active {
    color: yellow;
} */


#left-menu a:hover{
    text-decoration: underline;
    color: #818181;
   
}

.view-style{
    background-color: #141414;
    border-radius: 5px;
    /* position:sticky; */
    top: 0;
    padding: 10px;
}

/* anchor tag */
#disk-quotas {
  
    scroll-margin-block-start: 15px;
    /*Adds margin to the top of the viewport*/
    
    /* scroll-margin-block-end: 110pxx; */
    /*Adds margin to the bottom of the viewport*/
}


@media only screen and (max-width: 1280px) {
    #left-menu{
        position:sticky;
        width: 95%;
        height: auto;
        margin-top: 80px;
        
        padding: 10px;
        display: none;
    }

    .floating-btn {
        padding: 20px;
        background-color: #414142;
        position: fixed;
        top: 15px;
        right: 15px;
        border-radius: var(--border-radius);
    }


    .hide-on-desktop{
        display:block;
    }
    

}


@media only screen and (max-width: 1000px) {
    p {
        font-size: 16px;
    }

    ul li{
        font-size: 16px;
    }

    .main{
        width: 95%;
    }

    html{
        font-size: 14px;
    }

    h1{
        font-size: 25px;
    }

    h2{
        font-size: 20px;
    }

    a {
        font-size: 18px;
    
    }

    ol li{
        font-size: 16px;
    }
    
    .img-css{
        height: auto;
        width: 280px;
    }


    .flex{
        display:block;
    }


    #left-menu{
        position:sticky;
        width: 90%;
        height: auto;
        margin-top: 70px;
        
        padding: 10px;
        display: none;
    }

    .floating-btn {
        padding: 15px;
        background-color: #414142;
        position: fixed;
        top: 15px;
        right: 15px;
        border-radius: var(--border-radius);
    }

    .position-sticky{
        position: sticky;
        
    }

    .hide-on-desktop{
        display:block;
    }
    

    /* .left-menu-mobile:active + .left-menu{
        background-color: var(--fg-color);
        display: block;

    } */



  
}
