:root {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #181717;
    color: wheat;
}


.main {
    width: 950px;
    height: auto;
    /* border: 2px red solid; */
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-decoration: underline;
}

h2{
    margin-top: 40px;
}

ul {
    list-style-type: disc;
    list-style-image: none;
}


.olpadding{
    padding: 0px 0px 0px 20px;
}

.margin-10{
    padding: 0 10px;
}

.codespace-down{
    margin-bottom: 18px;
}

.codespace-up{
    margin-top:18px;
}
.ac-color{
    background-color: #292929;
    color: wheat

}

.btn{
    border: 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    background-color: wheat;
    color: #292929;
    transition: ease-in-out 0.4s;
}

.inline {
    display: inline;
}

.margin-right-15{
    margin-right: 15px;
}

.margin-right-25{
    margin-right: 25px;
}

.margin-top-25{
    margin-top: 25px;
}
.code{
    padding: 10px 8px;
    background-color: #292929;
    font-family: Menlo, monospace;
    color: wheat;
    border-radius: 5px;

    /* for scrolling */
    overflow: auto;
    white-space: nowrap;
}

a {
    /* color: #7c7c7c;  */
    color: #6e6e71;
    text-decoration: wavy;
    font-size: 20px;

}

li{
    margin-bottom: 10px;
}

li h3{
    color: #6e6e71
}

a:hover{
    text-decoration: underline;
    color: #414142;
   
}

.view-style{
    background-color: #141414;
    border-radius: 5px;
    /* position:sticky; */
    top: 0;
    padding: 10px;
}


@media only screen and (max-width: 1000px) {
    p {
        font-size: 16px;
    }

    /* html {
        font-size: 14px;
    } */

    .main{
        width: 95%;
    }

    h1{
        font-size: 25px;
    }

    h2{
        font-size: 19px;
    }

    a {
        font-size: 18px;
    
    }
}
